@model CreateRentalRequest
@using MotorMenezes.Domain.Aggregates.RentalAgg.Requests

@{
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
    ViewData["ControllerVoltar"] = "Aluguéis";
}

<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <div class="col-md-12 mb-lg-0 mb-4">
                <div class="card">
                    <form class="frmCreateRental">
                        @Html.AntiForgeryToken()
                        <div class="card-header pb-0">
                            <div class="row">
                                <h6 class="mb-0">Cadastrar aluguél</h6>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-md-6 mb-md-0 mb-2">
                                    <label asp-for="PlanId" class="control-label"></label>
                                    <select asp-for="PlanId" asp-items="@(new SelectList(Model.PlanList, "Id", "Day"))" 
                                        name="PlanId" class="form-control" id="selectPlan">
                                        <option disabled selected> -- Selecione -- </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <input asp-for="StartDate" class="form-control" type="date" disabled />
                                </div>
                                <div class="col-md-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label asp-for="EndDate" class="control-label"></label>
                                    <input asp-for="EndDate" class="form-control" type="date" id="txtEndDate"/>
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-md-0 mb-4">
                                    <input type="submit" value="Salvar" class="btn bg-gradient-dark" />
                                </div>
                                <div class="col-md-6 mb-md-0 mb-4 text-end">
                                    <input type="button" value="Calcular" id="btnCalculate" class="btn bg-gradient-dark" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card h-100">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">Custo detalhado</h6>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pb-0">
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Dias alugados:</label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblDaysRented"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Dias a menos: </label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblDaysNotRented"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Dias a mais: </label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblExtraDaysRented"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Valor base (R$):</label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblCost"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Multa (%): </label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblPercentageFine"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Multa aplicada (R$): </label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label id="lblCostFine"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-md-0 mb-2">
                        <label class="control-label">Valor total (R$):</label>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-2">
                        <h1 id="lblTotalCost"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script type="text/javascript">

        $('#btnCalculate').click(function () {
            var selectPlanId = $('#selectPlan').val();
            var endDate = $('#txtEndDate').val();

            var formData = new FormData();
            formData.append('planId', selectPlanId);
            formData.append('endDate', endDate);

            $.ajax({
                type: 'POST',
                url: '/Rentals/Calculate',
                data: formData,
                processData: false,  // Adicionado
                contentType: false,  // Adicionado
                beforeSend: function () {
                    $('#loading').show();
                },
                complete: function () {
                    $('#loading').hide();
                },
                success: function (response) {
                    CriarAlerta("success", "Cálculo realizado com sucesso!");

                    $("#lblDaysRented").html(response.daysRented);
                    $("#lblCost").html(response.cost);
                    $("#lblPercentageFine").html(response.percentageFine);
                    $("#lblDaysNotRented").html(response.daysNotRented);
                    $("#lblCostFine").html(response.costFine);
                    $("#lblTotalCost").html(response.totalCost);
                    $("#lblExtraDaysRented").html(response.extraDaysRented);
                },
                error: function (erro) {
                    if (erro.status == 400)
                        CriarAlerta("danger", erro.responseText);
                    else
                        CriarAlerta("danger", "Erro inesperado!");
                }
            });
        });

        $('.frmCreateRental').submit(function(e) {

            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/Rentals/Create',
                data: formData,
                beforeSend: function() {
                    $('#loading').show();
                },
                complete: function() {
                    $('#loading').hide();
                },
                success: function(response) {
                    window.location.href = response;
                },
                error: function(erro) {
                    if (erro.status == 400)
                        CriarAlerta("danger", erro.responseText);
                    else
                        CriarAlerta("danger", "Erro inesperado!");
                }
            });
        });

    </script>
}
